{{- $schema := dict
  "@context" "http://schema.org"
  "@type" "BlogPosting"
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Site.BaseURL)
  "articleSection" .Section
  "name" .Title
  "headline" .Title
  "description" (cond .Description .Description (cond .IsPage .Summary nil))
  "inLanguage" "pt-BR"
  "author" .Params.author
  "creator" .Params.author
  "publisher" .Params.author
  "accountablePerson" .Params.author
  "copyrightHolder" .Params.author
  "copyrightYear" (.Date.Format "2006")
  "datePublished" .Date
  "dateModified" .Date
  "url" .Permalink
  "wordCount" .WordCount
  "image" (printf "%s%s" .Site.BaseURL .Params.image)
  "keywords" (union .Params.tags (slice "Blog"))
-}}

<script type="application/ld+json">
{{- $schema | jsonify | safeHTML -}}
</script>
